$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.chart-container {
    display: block;
    width: 500px;
    height: 200px;
    .chart {
        width: 100%;
        height: 100%;
    }
}
