<div class="row">
    <uib-tabset class="col-sm-6">
        <uib-tab heading="Table 1" data-select="vm.setChartInputData(vm.tableData1)">
            <test-table data-table-data="vm.tableData1" data-x-start="1" data-x-step="1" data-y-start="1" data-y-step="1" data-points="8"></test-table>
        </uib-tab>
        <uib-tab heading="Table 2" data-select="vm.setChartInputData(vm.tableData2)">
            <test-table data-table-data="vm.tableData2" data-x-start="2" data-x-step="2" data-y-start="1" data-y-step="1" data-points="5"></test-table>
        </uib-tab>
    </uib-tabset>
    <div class="col-sm-6">
        <test-chart data-chart-data="vm.chartInputData"></test-chart>
    </div>
</div>