<table class="table table-bordered">
    <tr>
        <th class="col-xs-6">
            X
        </th>
        <th class="col-xs-6">
            Y
        </th>
    </tr>
    <tr ng-repeat="point in tableData">
        <th data-ng-bind="point.x" class="col-xs-6"></th>
        <th data-ng-bind="point.y" class="col-xs-6"></th>
    </tr>
</table>